<div id="delete-channel-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>本当に削除しますか？</h3>
            <span class="modalClose" id="delete-page-close-btn"><ion-icon name="close-circle-outline"></ion-icon></span>
        </div>
        <div class="modal-body">
            <p>削除ボタンを押すとチャンネルが消えます</p>
            <p>本当によろしいですか？</p>
            <a id="delete-confirm-link">
                <button id="delete-channel-confirmation-btn">＜ 削除 ＞</button>
            </a>
        </div>
    </div>
</div>