/* .channelpage {
  display: flex;
  flex-direction: column;
} */

.channel-list {
  position: fixed;
  z-index: 16;
  /* left: 0; */
  display: flex;
  width: 250px;
  height: calc(100vh - 40px);
  /* height: 100%; */
  flex-direction: column;
  color: var(--snow);
  background-color: #1e325c;
  margin-left: 80px;
  margin-top: 40px;
}

.alert {
  color: red;
}

@media screen and (max-width: 639px) {
  .channel-list {
    margin-left: 0;
  }
}

.main-container {
  height: 320px;
}

.main-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.channel-title {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  align-items: center;
  height: 72px;
}

.channel-title h1 {
  font-size: 1em;
  margin: 10px;
}

.channel-title button {
  padding: 2px 10px; /* 上下に10px、左右に20pxのパディングを追加 */
  background-color: var(--navy);
  color: var(--snow); /* ボタンのテキスト色を設定 */
  border: none; /* ボーダーを削除 */
  border-radius: 5px; /* ボーダーラディウスを追加 */
  font-size: 1em; /* フォントサイズを設定 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  font-weight: 600;
}

.channel-title button:hover {
  background-color: var(--carbon);
}

.add-channel-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust this value as needed */
}

#icon {
  margin: 4px 0 0 0;
}

.channel-box {
  /* background-color: transparent; */
  /* backdrop-filter: blur(16px); */
  /* -webkit-backdrop-filter: blur(16px); */
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 192px;
}

.channel-box li {
  list-style: none;
  margin-bottom: 5px;
  padding-bottom: 3px;
  /* padding-right: 16px; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-box li:hover {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
  cursor: pointer;
}

.channel-box li a {
  color: var(--snow);
  text-decoration: none;
  margin-left: 0;
}

.channel-box li a:hover {
  color: var(--dark_pink);
}

.pagination-container,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.pagination-container {
  width: 100%;
  /* border-bottom: 2px solid var(--grey); */
  /* box-shadow: 0 32px 30px -30px var(--wood); */
}

.pagination {
  padding-left: 0;
}

.pagination li.colored {
  background-color: var(--snow); /* 背景色を変更 */
  color: var(--navy); /* 文字色を変更 */
}

#prev,
#next,
.pagination li {
  padding: 16px;
}

#prev:hover,
#next:hover {
  cursor: pointer;
}

.prev:hover .next:hover {
  cursor: pointer;
  background-color: var(--navy);
  color: var(--snow);
}

.basic-btn {
  color: var(--snow);
}

.smaller-btn {
  color: var(--snow);
}

/* @media screen and (max-width: 639px) {
  .channel-list {
    display: none;
  }
} */

/* @media screen and (max-width: 639px) {
  .main-content {
    width: 90vw;
  }
  .channel-title {
    flex-direction: column;
    gap: 0;
  }
  .channel-title h1 {
    text-align: center;
  }
  .channel-box {
    width: 100%;
  }
  .channel-box li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: column;
  }
  .channel-title h1 {
    text-align: center;
  }
  .channel-box {
    width: 80%;
  }
  .channel-box li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: row;
    justify-content: space-around;
  }
  .channel-box {
    width: 80%;
  }
} */
