body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'SF Pro Display', 'SF Pro Text', 'Hiragino', 'Roboto', 'Noto',
    'DotGothic16', 'Sawarabi Mincho', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  font-weight: 600;
}

.header {
  position: fixed;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 40px;
  width: 100%;
  background: #14213e;
  color: rgba(255, 255, 255, 0.64);
  padding: 0px 12px;
  z-index: 99;
}

@media screen and (max-width: 639px) {
  .channel-list {
    height: 320px;
    width: 100%;
  }

  .chat-room {
    height: calc(100vh - 360px);
    width: 100%;
    overflow-y: auto;
    margin-top: 360px;
  }
}
