<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/color.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/sidebar.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/modal.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/style-chatroom.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/mobile-header.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/error.css')}}" />
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='js/websocket.js') }}"></script>

    </head>

    <body>
        <div class="header">
            {% block header %}
            <p>Team EarlyBird Chat-Room</p>
            {% endblock %}
        </div>

        <div class="sidebar">
            {% include 'sidebar.html'%}
        </div>
        {% include 'mobile-header.html'%}

        <!-- <div class="flex-container"> -->
        <div class="channel-list">
            {% block channel_list %}
            {% endblock %}
        </div>

        <div class="chat-room">
            {% block chat_room %}
            {% endblock %}
        </div>
        <!-- </div> -->

        <script src="{{url_for('static',filename='js/sidebar.js')}}" type="text/javascript"></script>
        {% block script %}{% endblock %}
    </body>

</html>
